.errortest__p {
  color: rgb(223,223,215);
  font-size: clamp(1.2rem, 1.0239rem + 0.7512vw, 1.7rem);
  animation: slideIn 0.8s ease 400ms forwards;
  opacity: 0;
  margin-bottom: 1.5rem;
}

.errortest__btn {
  animation: slideIn 0.8s ease 400ms forwards;
  opacity: 0;
  padding: 1rem clamp(0.8rem, 0.6768rem + 0.5258vw, 1.15rem); 
  font-size: clamp(1.2rem, 1.1296rem + 0.3005vw, 1.4rem);
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
  background-color: rgb(100, 108, 255);
  border: 0.137em solid rgb(100, 108, 255);
  color: rgb(223,223,215);
  border-radius: 0.4em;
  transition: all 0.4s ease;
}

button:is(:hover, :active) {
  background-color: transparent;
  color: white;
}

@keyframes slideIn {
  from {
    transform: translateY(-2.5rem);
  }

  to {
    transform: translateY(0.1);
    opacity: 1;
  }
}